/*background*/
body{
  color:#f7f1f0;
  
}


/* Logo image formatting */
img {
  border: 2px solid #ddd;
  border-radius: 3px;
  padding: 4px;
  width: 80px;
}

#anchor-tag {
  text-decoration: none;
}

/*Navigation bar formatting */
.top-nav{

  background-color:#D96846;
  color:white;
  font-family:Fjalla One; 

}

/* =========== Home Page =========== */

/* Heading typerwriter automation */

h1{
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  color: #141414;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4cf44f }
}

/* Hero Section */
.home {
  padding-top: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12rem;
}

section {
  padding: 1rem 1%;
}

.home .image img {
  width: 80%;
}

.home .content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  justify-content:left;
}

.home .content p {
  color: var(--grey);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.home .content .home-btn {
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: var(--yellow);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  transition: var(--transition);
}

.home .content .home-btn:hover {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow);
}

/* =========== Login =============*/
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #f3eee7;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #b6f2c5, #3eaa3c, #95b946, #3a5f1c);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #b6f2c5, #3eaa3c, #95b946, #3a5f1c);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

/* =========== Shelters =========== */
.shelter-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.listing-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.restaurant-info {
  padding: 0 20px;
}

.restaurant-info h2 {
  margin: 0;
}

.restaurant-info p {
  margin: 5px 0;
}

.donate-now-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.donate-now-btn:hover {
  background-color: #3e8e41;
}


/* =========== Donation =========== */
.donation-section{
  background-image: url("background2.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.center{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donation-section h2{
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 30px;
}

.donation-section h4{
  font-weight: 700;
  padding-bottom: 40px;
}

.donation-section h6{
  font-weight: 600;
  font-size: 20px;
}

.donation-section .selection form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donation-section .selection form label{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
} 

.donation-section .selection form select{
  background-color: white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  width: 300px;
  height: 60px;

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

/* =========== FAQ =========== */
.FAQ-page{
  margin-top: 1.3vw;
  text-align: center;
  
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: center;
  background-color: #07a737;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

/* =========== Footer =========== */

/* =========== Preloader =========== */

/* =========== Scroll To Top =========== */

