{% extends "layout.html" %}
{% block content %}
  <!-- FAQ PAGE INFO -->
  <div class="FAQ-page">
   <h3>Frequently Asked Questions</h3>
    <div class = "dropdown">
      <button class="dropbtn">What is the purpose of FoodRefinedTT ?</button>
      <div class="dropdown-content">
    <a href="#">FoodRefinedTT is a new application that hopes to lessen and mitigate the food waste problem in Trinidad and Tobago. FoodRefinedTT partners up with restaurants, supermarkets and shelters. Rather than throwing out the excess food, it will go to persons that really need and will benefit from it. The restaurants or supermarkets will donate extra food after a day's work or produce before expiration. </a>
      </div>
    </div>
    <br></br>
    <div class = "dropdown">
      <button class="dropbtn">Does FoodRefinedTT deliver/collect donations ?</button> 
      <div class="dropdown-content">
      <a href="#">FoodRefinedTT is a non-profit organization that delivers donations to shelters and/or homes and also collects donations given from distributors. </a>
        </div>
    </div>
    <br></br>
    
    <div class = "dropdown">
      <button class="dropbtn">Who is responsible if someone falls ill from the food?</button> 
      <div class="dropdown-content">
        <a href="#">Both parties are responsible in the event that someone falls ill as both the supermarket/ restaurants and homes/shelter need to sign an agreement with acknowledging they are following the food safety protocols and guidelines. Restaurants/ supermarkets need to donate foods that are fit for persons to eat and the shelter and homes are responsible for the condition and way the food is kept, distributed and treated. </a>
          </div>
    </div>
    <br></br>
    <div class = "dropdown">
      <button class="dropbtn">How can i donate ?</button> 
      <div class="dropdown-content">
        <a href="#">Distributors can donate by signing up and access the donation page where all the information would be there to help the process.</a>
          </div>
    </div>
    
   <!-- <img src="donation.jpg" alt="donation" width = "250" height="250">
    <img src="food waste.png" alt="foodwaste" width="250" height="250" > -->
    
  </div>

{% endblock %}