{% extends "layout.html" %}
{% block content %}

<div class="shelter-heading">
  <h2>Shelters & Homes</h2>
</div>

<div class="listing-card">
  <img src="{{url_for('static', filename='sfshelter.png')}}" alt="Restaurant Image">
  <div class="restaurant-info">
    <h2>San Fernando Centre for Displaced Persons (SFCDPF)</h2>
    <p>Description of the restaurant</p>
    <p>Address: PTSC Bus Terminal Building, Lady Hailes Ave, San Fernando</p>
    <p>Phone: 868-468-6237</p>
    <a href="/donations"> <button class="donate-now-btn">Donate Now</button> </a>
    
  </div>
</div>
  
{% endblock %}